<div class="l-page">
    <div class="l-flex l-flex--space-between c-table g--padding-45">
        <div class="c-section">
            <img class="g--width-300-px" src="../assets/img/travel-logo.png">
        </div>
        <div class="c-section g--width-300-px">
            <div class="l-flex">
                <div class="g--margin-r-15">
                    <button type="submit" class="c-button c-button--primary"
                        [routerLink]="['/sign-up']">Registrarse</button>
                </div>
                <div>
                    <button type="submit" class="c-button c-button--tertiary" [routerLink]="['/sign-in']">Iniciar
                        sesión</button>
                </div>
            </div>
            <div class="c-section__title g--margin-t-30">
                <h1>Travel Maker</h1>
            </div>
            <div class="c-section__body g--margin-t-30">               
                <div class="g--margin-t-30">
                    Creamos tu experiencia gracias a la suya propia.

                </div>
            </div>
        </div>
    </div>
</div>