<div class="l-page">
    <div class="l-flex l-flex__aling-items--center l-flex--space-between c-table g--padding-45">
        <div class="c-section">
            <img class="g--width-300-px" src="../assets/img/travel-logo.png">

        </div>
        <div class="c-section g--width-300-px">
            <div class="c-section__title ">
                Travel Maker
            </div>
            <div class="c-section__body g--margin-t-30">
                <div class="">
                    <button type="submit" class="btn btn-primary">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
</div>